<div class="navbar">
    <a href="/paket/export-to-excel">Download Excel</a>
    <a href="/paket/admin">Lista Posiljaka</a>
    <a href="/user/register">Klijenti</a>
    <a href="/user/logout">Logout</a>
</div>