<%- include("./partials/head.ejs")%>

    <body>
        <%- include("./partials/navbar.ejs")%>

            <div class="register-container">
                <% if (error) { %>
                    <% if (error==='current-password' ) { %>
                        <p style="color: red;">Netačna trenutna šifra, molim vas pokušajte ponovo.</p>
                        <% } else if (error==='new-password' ) { %>
                            <p style="color: red;">Šifre se ne poklapaju. Molim vas da proverite da li se vaše šifre
                                poklapaju.
                            </p>
                            <% } else { %>
                                <p style="color: red;">Došlo je do greške: <%= error %>
                                </p>
                                <% } %>
                                    <% } %>


                                        <h2>Promeni šifru</h2>
                                        <form id="changePasswordForm" action="/user/change-password" method="post">
                                            <div class="form-group">
                                                <label for="currentPassword">Trenutna šifra:</label>
                                                <input type="password" id="currentPassword" name="currentPassword"
                                                    required>
                                            </div>

                                            <div class="form-group">
                                                <label for="newPassword">Nova sifra:</label>
                                                <input type="password" id="newPassword" name="newPassword" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="confirmPassword">Potvrdi šifru:</label>
                                                <input type="password" id="confirmPassword" name="confirmPassword"
                                                    required>
                                                <p id="password-match-message"></p>
                                            </div>
                                            <button type="submit" class="btn">Promeni šifru</button>
                                        </form>
            </div>


            <script>
                const newPasswordInput = document.getElementById('newPassword');
                const confirmPasswordInput = document.getElementById('confirmPassword');
                const message = document.getElementById('password-match-message');
                const form = document.getElementById('changePasswordForm');

                function validatePassword() {
                    const newPassword = newPasswordInput.value;
                    const confirmPassword = confirmPasswordInput.value;

                    if (newPassword !== confirmPassword) {
                        message.textContent = 'Šifre se ne poklapaju.';
                    } else {
                        message.textContent = '';
                    }
                }

                function handleSubmit(event) {
                    const newPassword = newPasswordInput.value;
                    const confirmPassword = confirmPasswordInput.value;

                    if (newPassword !== confirmPassword) {
                        event.preventDefault();
                        message.textContent = 'Šifre se ne poklapaju. Molim vas da proverite da li se vaše šifre poklapaju.';
                    }
                }

                newPasswordInput.addEventListener('input', validatePassword);
                confirmPasswordInput.addEventListener('input', validatePassword);
                form.addEventListener('submit', handleSubmit);
            </script>
    </body>

    </html>